<div class="comment" id="comment<%=comment.id%>">
  <img src="<%=comment.user.avatar_path%>"></img>
  <span class="user"><b><%=comment.user.name%></b> (<%=comment.user.nickname%>)</span>
  <textarea readonly="true" cols="80" class="content"><%=comment.content%></textarea>
  <button class="show_more">ler mais</button>
</div>
