<div id="comment<%=comment.id%>">
  <img src="<%=comment.user.avatar_path%>"></img>
  <span class="user"><%=comment.user.name%>(<%=comment.user.nickname%>)</span>
  <span class="content"><%=comment.content%></span>
</div>
