<article>
  <div class="comment" id="comment<%=comment.id%>">
    <header>
      <% if comment.user == current_user %>
        <a style="display:block" class="commentEdit" data-commentId="<%=comment.id%>" href="<%=edit_without_layout_comment_path(comment)%>">Editar</a>
      <%end%>
      <img src="<%=comment.user.avatar_path%>"></img>
      <span class="user"><b><%=comment.user.name%></b> (<%=comment.user.nickname%>)</span>
     </header>
    <textarea readonly="true" cols="80" class="content"><%=comment.content%></textarea>
    <button class="show_more">ler mais</button>
  </div>
</article>
