<% if current_user %>
  <% content_for :javascript do %>
    <%= javascript_include_tag "comments/form" %>
    <%= javascript_tag "setupCommentForm()" %>
  <%end%>
  <%= javascript_tag "if (window.setupCommentForm != null) setupCommentForm()" %>
  <% if !@comments.nil? && !@comments.empty? && @comments.last.user == current_user %>
    <%= I18n.t :dont_do_double_comment %>
  <% else %>
    <%url = action_name == 'edit' ? comment_path(@comment.id) : post_comments_path(@post.id) %>
    <%= form_for(@comment, :url => url, :html => {:id=>"#{action_name}CommentForm"}) do |f| %>
      <%= f.hidden_field :user_id, :value => current_user.id %> 
      <%= f.hidden_field :post_id, :value => @post.id %> 

      <img src="<%=current_user.avatar_path%>"></img>
      <span class="user"><b><%=current_user.name%></b> (<%=current_user.nickname%>)</span>
      <%= f.text_area :content, :rows => 8, :cols => 80 %>
      <%= f.submit "Comentar" %>
    <%end%>
  <%end%>
<%end%>
