<% content_for :javascript do %>
  <%= javascript_tag do %>
    reloadCommentsIndex();
  <%end%>
  <script type="text/javascript">
    window.___gcfg = {lang: 'pt-BR'};
  </script>
<%end%>
<%= javascript_tag do %>
  if (window.reloadCommentsIndex != null) reloadCommentsIndex();
<%end%>

<div id="post" class="top">
  <div id="post-right">
    <div id="post-title" class="top-title">
      <h1><%= @post.title %></h1>
    </div>

    <div id="post-content">
      <%= render :inline => @post.body_with_syntax_highlighting %>
    </div>


    <div id="post-date">
      <span>Criado em: <%= @post.creation_date.to_s :portuguese %></span>
      <% unless @post.last_modification_date.nil? %>
        <span>&Uacute;ltima Atualiza&ccedil;&atilde;o em: <%= @post.last_modification_date.to_s :portuguese %></span>
      <%end%>
    </div>

    <div id="post-related">
      <ul class="left-aligned">
        <span>Postagens relacionadas:</span>
        <li><a href="#">Post qualquer número 1</a></li>
        <li><a href="#">Post qualquer número 2</a></li>
        <li><a href="#">Post qualquer número 3</a></li>
      </ul>
    </div>

    <div id="post-comments" class="top">
      <div id="post-comments-title" class="top-title">
        <h1>Comentários</h1>
      </div>

      <div id="post-comments-content">
        <%= @comments.empty? ? "Esse post nao foi comentado ainda" : render(@comments) %>
      </div>

    </div>

    <div id="commentForm" class="top">
      <div id="commentForm-title" class="top-title">
        <h1>Deixe seu Comentário</h1>
      </div>

      <div id="commentForm-content">
        <%= render "comments/form" %>
        <% if current_user %>
          <a href="/signout" id="signoutTwitter" style="display:block"><%= I18n.t :sign_out_from_twitter %></a></br>
        <%else%>
          <a href="/auth/twitter/"><%= I18n.t :sign_in_twitter_to_comment %></a>
        <%end%>
      </div>
    </div>
  </div>
  <div id="post-left">
    <ul>
      <li><g:plusone size="tall"></g:plusone></li>
      <li><a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="hugolnx">Tweet</a></li>
      <li><div id="fb-root"></div>
      <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
              js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/pt_BR/all.js#appId=175389192539275&xfbml=1";
                  fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
      
      <div class="fb-like" data-send="false" data-layout="box_count" data-width="130" data-show-faces="false"></div></li>
    </ul>
  </div>
</div>
