<% content_for :javascript do %>
  <%= javascript_include_tag "comments/index" %>
  <%= javascript_tag do %>
    $.syntax()
    reloadCommentsIndex();
  <%end%>
<%end%>
<%= javascript_tag do %>
  if (window.$ != null && $.syntax != null) $.syntax()
  if (window.reloadCommentsIndex != null) reloadCommentsIndex();
<%end%>

<div id="post" class="box">
  <div class="title">
    <h1><%=@post.title%></h1>
  </div>
  <div class="content">
    <%= render :inline => @post.body %>
  </div>

  <div class="footer">
    <%= @post.creation_date.to_s :portuguese %>
  </div>
</div>

<div id="comments" class="box">
  <div class="title">
    <h1>Comentários</h1>
  </div>

  <div class="content">
    <%= render @comments %>
  </div>

</div>

<div id="commentForm" class="box">
  <div class="title">
    <h1>Deixe seu Comentário</h1>
  </div>

  <div class="content">
    <%= render "comments/form" %>
  </div>
</div>
