<% content_for :javascript do %>
  <%= javascript_tag do %>
    reloadCommentsIndex();
  <%end%>
<%end%>
<%= javascript_tag do %>
  if (window.reloadCommentsIndex != null) reloadCommentsIndex();
<%end%>

<div id="post" class="box">
  <div class="title">
    <h1><%=@post.title%></h1>
  </div>
  <div class="content">
    <%= render :inline => @post.body_with_syntax_highlighting %>
  </div>

  <div class="footer">
    <%= @post.creation_date.to_s :portuguese %>
  </div>
</div>

<div id="comments" class="box">
  <div class="title">
    <h1>Comentários</h1>
  </div>

  <div class="content">
    <%= @comments.empty? ? "Esse post nao foi comentado ainda" : render(@comments) %>
  </div>

</div>

<div id="commentForm" class="box">
  <div class="title">
    <h1>Deixe seu Comentário</h1>
  </div>

  <div class="content">
    <%= render "comments/form" %>
    <% if current_user %>
      <a href="/signout" id="signoutTwitter" style="display:block"><%= I18n.t :sign_out_from_twitter %></a></br>
    <%else%>
      <a href="/auth/twitter/"><%= I18n.t :sign_in_twitter_to_comment %></a>
    <%end%>
  </div>
</div>
