<html>
  <head>
    <title>HugoLnx::Blog beta</title>
    <%= stylesheet_link_tag :all, :cache => true %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tag %>
  </head>
  
  <body>
    <% if current_user %>
      VOCE ESTA LOGADO NO TWITTER
    <% else %>
      VOCE NAO ESTA LOGADO NO TWITTER
    <% end %>
    <div id="all">

      <div class='box' id="header">
        <a href="/"><div id="banner"></div></a>
        <center style="opacity:0.3;color:#f0f">Em Produção</center>
        <div id="slider"></div>
        <div id="slider_subtitle">
          <span id="title"></span>
          <span id="notice">Arraste para navegar pelos posts</span>
        </div>
      </div>
      

      <div id="contents">
      </div>

      <div id="creative_commons" class='box'>
        <%=render 'layouts/creative_commons'%>
      </div>

    </div>
  </body>

  <% js_to_cache = %w{jquery.min jquery-ui.min post.slider synchronized.hash ajax application} %>
  <%= javascript_include_tag(js_to_cache, :cache => true) %>
  <%= javascript_include_tag "../jquery-syntax/jquery.syntax.min" %>
  <%= javascript_tag do %>
    var id_max = <%=@id_max%>;
    var titles = <%=raw @titles%>;
  <%end%>

  <%= javascript_include_tag 'google.analitics' %>
</html>
