<!DOCTYPE html> 
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="<%= @pagehead.description %>" />
    <meta name="keywords" content="<%=@pagehead.keywords %>" />
    <meta name="robots" content="<%=@pagehead.robots%>" />
    <meta property="og:title" content="<%= @pagehead.title_complement %>" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="<%=request.url%>" />
    <meta property="og:image" content="<%= request.protocol + request.host %>/images/logo.jpg" />
    <meta property="og:site_name" content="HugoLnx::Blog" />
    <meta property="fb:admins" content="100000637301295" />

    <title>HugoLnx::Blog: <%=@pagehead.title_complement%></title>
    <%= include_stylesheets :all_minified %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tag %>
  </head>
  
  <body>
    <header>
      <div id="header" class="center main">
        <div id="logo_image"></div>
        <ul id="social">
          <li><a href="mailto:hugo.roque@caelum.com.br"><div class="icon" id="email_image"></div></a></li>
          <li><a href="http://github.com/hugolnx"><div class="icon" id="github_image"></div></a></li>
          <li><a href="http://twitter.com/hugolnx"><div class="icon" id="twitter_image"></div></a></li>
          <li><a href="/feed.rss"><div class="icon" id="rss_image"></div></a></li>
        </ul>
        <nav>
          <div id="menu">
            <%= render :partial => 'layouts/menu-selecionavel' %>
          </div>
        </nav>
      </div>
    </header>

      <div id="main" class="center main">
        <section id="post">
          <%= yield %>
        </section>
      </div>

    <footer>
      <div id="footer" class="center main">
        <%=render 'layouts/creative_commons'%>
      </div>
    </footer>


    <%= include_javascripts :all_minified %>

    <%= javascript_tag do %>
			$(function(){
        $('div#menu ul#menu-selecionavel').superfish();
			});
    <%end%>
    <%= yield :javascript %>

  </body>
</html>
