<html>
  <head>
    <title>HugoLnx::Blog beta</title>
    <%= stylesheet_link_tag :all, :cache => true %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tag %>
  </head>
  
  <body>
    <div id="all">

      <div class='box' id="header">
        <div id="banner"></div>
        <center style="opacity:0.3;color:#f0f">Em Produção</center>
        <div id="slider"></div>
        <div id="slider_subtitle">
          <span id="title"></span>
          <span id="warning">Arraste para navegar pelos posts</span>
        </div>
      </div>
      

      <div id="contents">
      </div>

      <div id="creative_commons" class='box'>
        <%=render 'layouts/creative_commons'%>
      </div>

    </div>
  </body>

  <%= javascript_include_tag "jquery.min",        :cache => true %>
  <%= javascript_include_tag "jquery-ui.min",     :cache => true %>
  <%= javascript_include_tag "post.slider",       :cache => true %>
  <%= javascript_include_tag "synchronized.hash", :cache => true %>
  <%= javascript_include_tag "ajax",              :cache => true %>
  <%= javascript_include_tag "application",       :cache => true %>
  <%= javascript_include_tag "../jquery-syntax/jquery.syntax.min" %>
  <%= javascript_tag do %>
    var id_max = <%=@id_max%>;
    var titles = <%=raw @titles%>;
  <%end%>

  <%= javascript_include_tag 'google.analitics' %>
</html>
