<!DOCTYPE html> 
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="<%= @pagehead.description %>" />
    <meta name="keywords" content="<%=@pagehead.keywords %>" />
    <meta name="robots" content="<%=@pagehead.robots%>" />
    <title>HugoLnx::Blog: <%=@pagehead.title_complement%></title>
    <%= include_stylesheets :all_minified %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tag %>
  </head>
  
  <body>
    <header>
      <div id="header" class="center">
        <img src="images/banner.jpg"/>
        <nav>
          <div id="menu" class="main center">
            <ul>
              <li class="right"><a href="mailto:hugo.roque@caelum.com.br"><div class="icon" id="email_image"></div></a></li>
              <li class="right"><a href="http://github.com/hugolnx"><div class="icon" id="github_image"></div></a></li>
              <li class="right"><a href="http://twitter.com/hugolnx"><div class="icon" id="twitter_image"></div></a></li>
              <li class="right"><a href="/feed.rss"><div class="icon" id="rss_image"></div></a></li>
              <li class="no-sf"><a class="botao" href="#">Sobre Mim</a></li>
              <li><%= render :partial => 'layouts/menu-selecionavel' %></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <article>
      <div id="main" class="center main">
        <%= yield %>
      </div>
    </article>

    <footer>
      <div id="footer" class="center">
        <%=render 'layouts/creative_commons'%>
      </div>
    </footer>


    <%= include_javascripts :all_minified %>

    <%= javascript_tag do %>
      var id_max = <%=@id_max%>;
      var id = <%=@post.id%>;
      var titles = <%=raw @titles %>;
      var links = <%= raw @links %>;
      i18n = <%=raw YAML.load_file(I18n.load_path.find{|path| path.include? I18n.locale.to_s})[I18n.locale.to_s].to_json%>;
			$(function(){
        $('div#menu ul#menu-selecionavel').superfish();
			});
    <%end%>
    <%= yield :javascript %>

  </body>
</html>
