<html>
  <head>
    <title>HugoLnx Blog</title>
    <%= stylesheet_link_tag :all, :cache => true %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tag %>
  </head>
  
  <body>
    <div id="all">

      <div class='box' id="header">
        <div id="banner"></div>
        <div id="slider"></div>
        <div id="slider_subtitle">
          <span id="title"></span>
          <span id="warning">Arraste para navegar pelos posts</span>
        </div>
      </div>
      
      <div id="contents">
        <%= yield :contents %>
      </div>

      <div id="creative_commons" class='box'>
        <%=render 'layouts/creative_commons'%>
      </div>

    </div>
  </body>
  <%= yield :javascripts %>

</html>
