<html>
  <head>
    <title>HugoLnx Blog</title>
    <%= stylesheet_link_tag :all, :cache => true %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tag %>
  </head>
  
  <body>
    <%= yield %>
  </body>
  <%= yield :javascripts %>

</html>
