<html>
  <head>
    <title>HugoLnx::Blog beta</title>
    <%= stylesheet_link_tag :all, :recursive => true, :cache => true %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tag %>
  </head>
  
  <body>

    <div id="all">

      <div id="header" class='box'>
        <a href="/"><div id="banner"></div></a>
        <center style="opacity:0.3;color:#f0f">Em Produção</center>
        <div id="slider"></div>
        <div id="slider_subtitle">
          <span id="title"></span>
          <span id="notice"><%=I18n.t :drag_it_to_roll_from_posts%></span>
        </div>
      </div>
      

      <div id="middle">
        <div id="upcontents">
          <a href="/feed.rss"><img src="images/rss.png"></a>
          <a href="http://twitter.com/hugolnx"><img src="images/twitter.png"></a>
          <a href="http://github.com/hugolnx"><img src="images/github.png"></a>
          <a href="mailto:hugo.roque@caelum.com.br"><img src="images/email.png"></a>
        </div>
        <div id="contents"><%= yield %></div>
      </div>

      <div id="creative_commons" class='box'>
        <%=render 'layouts/creative_commons'%>
      </div>

    </div>
    <% js_to_cache = %w{jquery.min jquery-ui.min post.slider ajax} %> <!-- google.analitics application synchronized.hash  -->
    <%= javascript_include_tag(js_to_cache, :cache => true) %>

    <%= javascript_tag do %>
      var id_max = <%=@id_max%>;
      var id = <%=@post.id%>;
      var titles = <%=raw @titles%>;
      i18n = <%=raw YAML.load_file(I18n.load_path.find{|path| path.include? I18n.locale.to_s})[I18n.locale.to_s].to_json%>;
    <%end%>
    <%= yield :javascript %>

  </body>
</html>
