<!DOCTYPE html> 
<html itemscope itemtype="http://schema.org/">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="<%= @pagehead.description %>" />
    <meta name="keywords" content="<%=@pagehead.keywords %>" />
    <meta name="robots" content="<%=@pagehead.robots%>" />
    <%= yield :head %>
    <title>HugoLnx::Blog: <%=@pagehead.title_complement%></title>
    <%= include_stylesheets :all_minified %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tag %>
  </head>
  
  <body>
    <div id="main" class="center main">
      <header>
        <div id="header">
          <a href="<%=posts_url%>"><div id="logo_image"></div></a>
          <ul id="social">
            <li><a href="/feed.rss"><div class="icon" id="rss_image"></div></a></li>
            <li><a href="http://twitter.com/hugolnx"><div class="icon" id="twitter_image"></div></a></li>
            <li><a href="https://plus.google.com/113467373703062524293"><div class="icon" id="gplus_image"></div></a></li>
            <li><a href="http://github.com/hugolnx"><div class="icon" id="github_image"></div></a></li>
            <li><a href="mailto:hugo.roque@caelum.com.br"><div class="icon" id="email_image"></div></a></li>
          </ul>
        </div>
      </header>
      <nav>
        <%= render :partial => 'layouts/menu-selecionavel' %>
      </nav>
      <div id="content">
        <%= yield %>
      </div>
    </div>

    <footer>
      <div id="footer" class="center main">
        <%=render 'layouts/creative_commons'%>
      </div>
    </footer>

    <%#= include_javascripts :all_minified %>
    <%= javascript_include_tag "/jammit-assets/all_minified.js" %>

    <%= javascript_tag do %>
      $('div#menu ul#menu-selecionavel').superfish();
      var i18n = <%=raw YAML.load_file(I18n.load_path.find{|path| path.include? I18n.locale.to_s})[I18n.locale.to_s].to_json%>;
    <%end%>
    <%= yield :javascript %>

  </body>
</html>
