<html>
  <head>
    <title>HugoLnx Blog</title>
    <%= stylesheet_link_tag :all, :cache => true %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tag %>
  </head>
  
  <body>
    <%= yield %>
    <div id="creative_commons" class='box'>
      <%=render 'layouts/creative_commons'%>
    </div>
  </body>
  <%= yield :javascripts %>

</html>
