<html>
  <head>
    <title>HugoLnx</title>
    <%= stylesheet_link_tag :all, :cache => true %>
    <%= favicon_link_tag %>
  </head>
  <body>
    <div id="all">

      <div class='box' id="header">
        <div id="banner"></div>
        <div id="slider"></div>
        <div id="slider_subtitle"></div>
      </div>

      <%=yield%>

    </div>
  </body>
  <%= javascript_include_tag 'jquery1.5.1.min',"../jquery-syntax/jquery.syntax.min","jquery-ui-1.8.10.custom.min","application", :cache => true %>
  <%= javascript_tag do %>
    declareSlider(<%=@id_max%>,<%=@post.id%>,<%=raw @titles%>);
  <%end%>
</html>
