<html>
  <head>
    <title>HugoLnx: <%=@post.title%></title>
    <%= stylesheet_link_tag :all, :cache => true %>
    <%= favicon_link_tag %>
  </head>
  <body>
    <div id="all">

      <div id="header">
        <div id="banner"></div>
      </div>

      <div id="post" class="box">
        <div id="title">
          <h1><%=@post.title%></h1>
        </div>
        <div id="content">
          <%= yield %>
        </div>
      </div>

    </div>
  </body>
  <%= javascript_include_tag 'jquery1.5.1.min',"../jquery-syntax/jquery.syntax.min.js", :cache => true %>
  <%= javascript_tag "$(function(){$.syntax()});" %>
</html>
